<h1>User Edit Page</h1>
<div class="container">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" [value]="user.name">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" [value]="user.lastName">
  </div>

  <button class="btn btn-success">Kaydet</button>
</div>